@model TL_LMS.Models.AllData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Count</title>
</head>
<body>

    @Html.DisplayFor(model => model.students.Count())


    <div> 
    </div>
</body>
</html>
