@{
    ViewBag.Title = "About";
}


<nav class="bg-grey-500 border-gray-200 dark:bg-gray-900">
    <div style="padding-left:43%; padding-right:43%" class="border-gray-100 bg-gray-100 flex items-center text-justify mx-auto px-80 mx-5 md:px-80 py-1">
        <a href="https://techlegion.ml" class=" items-center align">
            <img src="/techlegion.png" style="width:130px" class="flex text-center" alt="">
        </a>
      
    </div>
    
</nav>


<nav class="bg-grey-500 border-gray-200 dark:bg-gray-900">
    <div style="padding-bottom:60px; padding-left:15%; padding-right:15%" class="border-gray-100 bg-gray-100 flex items-center text-justify mx-auto px-80 mx-5 md:px-80 py-1">

        <div class="lg:text-center bg-grey-500">
            <h2 class="text-2xl text-amber-500 font-semibold">About Us</h2>
            <p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">Our Vision is to provide a one stop online solution for all design and development requirments</p>
            <p class="mt-5 max-w-6xl text-2xl text-gray-500 lg:mx-auto">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
        </div>
    </div>

</nav>





       




